@charset "UTF-8";

:root{

}
 
*{
    color: black;
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
}
header {
    background-color: blue;
    padding: 20px 28px 10px 0px;
}
header h1{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0.5%;
    margin-left: 0.5%;
    padding-left: 3%;
    font-size: 200%;
}
header > nav{
    display: inline-block;
    width: 20%;
}
header nav a{
    display: inline-block;
    padding-left: 6.5%;
    font-size: 110%;
}
header button{
    width: 15%;
    margin-left: 38%;
}
header button::after{
    content:'\1F50E';
}
header button input{
    width: 80%;
}
header p{
    margin-top: 12px;
    display:block;
    text-align: center;
    padding: 0.7% 10px 1.4% 10px;
    width: 100%;
}
a#log{
    margin-left: 5%;
    font-size: 110%;
    width: 10%;
}
a#log-p{
    display: none;
}
div#menu{
    display: none;
}
header div#p{
    display: none;
}
header nav#nav-p{
    display: none;
}
header p#para{
    display: none;
}
/*abaixo de 1055w */
@media (max-width:1100px){
    header{
        height: 110px;
    }
    header h1{
        margin-top: 6px;
        margin-bottom: 6px;
        margin-right: 0.5%;
        margin-left: 0.5%;
        padding-left: 2%;
        font-size: 180%;
    }
    header > nav{
        width: 37%;
        
    }
    header nav a{
        padding-left: 4.5%;
        font-size: 110%;
    }
    header button{
        display: block;
        min-width: 220px;
        height: 25px;
        margin: auto; 
        margin-top: 5px;
        margin-bottom: -2px; 
    }
    header button input{
        min-width: 60px;
        padding: 0px 0px 0px 20px;
    }
    header p{
        margin-top: 13px;
        width: 100%;
        font-size: 98%;
    }
    a#log{
        display: none;
    }
    a#log-p{
        margin-left: 36.5%;
        display: inline-block;
    }
}
/*abaixo de 600w */
@media (max-width:594px){
    header div#menu{
        display: block;
        text-align: right;
        margin-top: -20px;
        size: 200px;
    }
    header nav{
        display: none;
    }
    header button {
        display: none;
    }
    a#log-p{
        display: block;
        text-align: right;
        margin-top: -50px;
        margin-right: 36px;
        padding-top: 4px;
        font-size: 1.05em;
    }
    header div nav#nav-p{
        display: none;
    }
    header nav#nav-p{
        display: block;
        width: 80px;
        height: 70%;
        text-align: center;
        background-color: gray;
        border-radius: 2px;
        padding-right: 0px;
    }
    header nav#nav-p ul{
        list-style-type: none;
        padding: 0px;
    }
    header nav#nav-p ul li{
        display: block;
        padding: 2px;
        transition-duration: all 10s;
        border-bottom: 1px solid black;        
    }
    /*
    div#menu:hover nav#nav-p{
        display: inline-block;
        margin-left: 68%;
        min-width: 30%;
        padding: 1%;
        text-align: center;
        margin-top: 4px;
        background-color: #f2fafcf3;
    }
    */
    header  p{
        display: none;
    }
        header  p#para{
            display: block;
            margin-top: 0px;
            max-width: 20%;
            min-width: 17%;
            font-size: 29%;
            margin-left: 0px;
        } 
        div#menu:hover nav#nav-p{
            display: block;
            margin-bottom: 0px;
            margin-top: -70px;
            min-width: 50%;
            min-height: 100%;
            padding: 50% 0%;
            text-align: center;
            background-color: #f2fafcf3;
            border-radius: 0px;
        }
}

