@charset "UTF-8";
 
*{
    color: black;
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
}
header {
    background-color: blue;
    margin: -10px;
    padding: 20px 0px 10px 0px;
}
header h1{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0.5%;
    margin-left: 0.5%;
    padding-left: 3%;
    font-size: 200%;
}
header > nav{
    display: inline-block;
    width: 20%;
}
header nav a{
    display: inline-block;
    padding: 0% 0% 0% 6%;
    width: 25%;
}
header button{
    width: 18%;
    margin-left: 35%;
}
header p{
    margin-top: 12px;
    display:block;
    text-align: center;
    padding: 10px 0px 17px 0px;
}
a#log{
    margin-left: 3%;
}

/*abaixo de 900w */
@media (max-width:)