@charset "UTF-8"
/* */
body{
    color: rgb(226, 32, 32);
    font-family: monospace;
    font-size: 20px;
}
h1{
    color: violet;
}
h2{
    color: yellow;
    background-color: rgb(233, 13, 13);
}
p{
    text-align: justify;
}
a{
    color: rgb(11, 233, 78);
}